myenv/

hospital_management_system/userApp/migrations

hospital_management_system/hospital_management_system/__pycache__

hospital_management_system/userApp/__pycache__

hospital_management_system/doctorsApp/migrations

hospital_management_system/doctorsApp/__pycache__

hospital_management_system/patients/__pycache__

hospital_management_system/patients/migrations